@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Sriracha&display=swap');

*{
    font-family: 'Roboto', Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

#login-box{
    margin: 20vh auto;
    width: fit-content;
    padding: 10px;
    border: 2px solid rgba(172, 172, 172, 0.726);
    border-radius: 5px;
}

h1{
    margin: 15px auto 35px auto;
    text-align: center;
    font-size: 4em;
    color: rgb(34, 110, 161);
}

h2{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
    color: rgba(88, 88, 88, 0.993)
}

input{
    border: 2px solid rgba(172, 172, 172, 0.726);
    color: rgb(131, 131, 131);
    font-size: 16px;
    font-weight: bold;
    border-radius: 2px;
    margin: 0px 20px;
    height: 40px;
    width: 300px;
    padding: 0px 10px;
}

a{
    margin-top: 5px;
    text-decoration: none;
}


a>p{
    text-align: end;
    font-style: italic;
    font-weight: bold;
    padding-right: 25px;
    color: rgb(62, 125, 167);

}

a>p:hover{
    color: rgb(109, 149, 175);
    text-decoration: underline;
}

button{
    display: block;
    background-color: rgb(34, 110, 161);
	border: 1px solid rgb(34, 110, 161);
    color: white;
    font-size: 20px;
    border-radius: 2px;
	cursor: pointer;
	outline: none;
    width: 324px;
    height: 50px;
    margin: 30px auto;
}

button:hover{
    background-color: rgb(82, 130, 161);
    border: 1px solid white;
}